S3_BUCKET=some-bucket
S3_PREFIX=some_sourcetype/
SPLUNK_HEC_URL=https://http-inputs-stackname.splunkcloud.com/services/collector/event
SPLUNK_HEC_TOKEN= SOME_GUID
START_TIME=2025-12-16T00:00:00Z
END_TIME=2025-12-16T23:59:59Z
SPLUNK_TARGET_INDEX=some_index